/*  ーーすまじき熱帯ーー  */
.sn {
    position: absolute;
    z-index: 4;
    font-family: 凸版文久見出し明朝;
    font-size: 2.5vw;
    color: #fff;
    top: 30vh;
    left: 37vw;
}

/*  一億円という報酬に飛びつき、クズの父親と一緒に、組を裏切りジャングルに逃げ込んだ元ヤクザの呉を始末しに行く  */
.ik {
    position: absolute;
    z-index: 4;
    font-family: 凸版文久明朝;
    font-size: 2vw;
    color: #FFF;
    top: 45vh;
    left: 10vw;
}

/*  元ヤクザの呉を始末しに行く。しかし呉は、現地人を従えジャングルの中に王国を作り上げていた  */
.ok {
    position: absolute;
    z-index: 4;
    font-family: 凸版文久明朝;
    font-size: 2vw;
    color: #FFF;
    top: 53vh;
    left: 6vw;
}

/*  ーTOPー  */
.tb {
    position: absolute;
    z-index: 4;
    font-family: 凸版文久明朝;
    font-size: 2.5vw;
    color: #FFF;
    bottom: 21vh;
    left: 44svw;
}

/*  本文  */
.hb {
    position: absolute;
    z-index: 3;
    font-family: 游教科書体;
    color: #173B35;
    font-size: 3vw;
    writing-mode: vertical-rl;
    right: 22vw;
    line-height: 13vh;
    width: 100vw;
    height: 100vh;
}


/* -------------------------------アニメーションの設定--------------------------------- */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(20vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}
.ik {
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.ok {
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}